.header
{
    height: 200px;
    background: #c0a16b;
}
.menu
{
    background: #8a6d3b;
    height: 50px;
}
.promotion-product
{
    height: 400px;
    background: #ccc;
}
.new-product
{
    height: 500px;
    background: #19AAD8;
}
.footer{
    height: 100px;
    background: #f7e1b5;
}